Body{
  color: #FFFFFF;
  background-color: #242424;
  font-size: 100%;
}
div{
  margin: auto;
  width: 60%;
  border: 3px;
  text-align: center;
  background-color: black;
  font-size: 1em;
  height:100%;
}

h1{
  font-size: 5em;
}
h2{
  font-size: 1.75em;
  text-align: left;
}
input, select, textarea{
  color: #FFFFFF;
  background-color: #3d3846;
  font:bold;
  font-size: 1.75em;
  margin-block: 10px;
}

textarea:focus, input:focus {
color: #FFFFFF;
background-color:#3d3846;
font:bold;
}

button{
  background-color: #5e5c64;
  color: white;
  font-size: 1.75em;
  margin-block: 10px;
  margin-left: 30px;
  text-align: center;
}